* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Menu design */
.menu_div {
  font-size: 18px;

  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 235px;
  background-color: cadetblue;

  display: flex;
  flex-direction: column;
}

.home_title {
  font-size: 30px;
  text-align: center;
  margin-top: 15px;
}

.drop_down_link {
  margin-left: 15px;
  margin-top: 15px; 
}

.drop_down_menu_ul {
  margin-left: 40px;
  list-style-type: none;
}

/* Home styling */
.home_temp {
  background-color: aqua;
}